/* Primary Settings */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;

}
a{
    color: #000;
}
*::-webkit-scrollbar{
    display: none;
}

i.bx-moon{
  font-size: 2.5rem;
  cursor: pointer;
}

i.bx-menu{
    font-size: 3rem;
}

.header {
    margin-bottom: 0;
}

/* End of Primary Settings */


/* Animations */
@keyframes zoom-out-effect{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes zoom-in-effect{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.1);
    }
}
/* End of Animations */


/*  Side Navigation Bar  */
nav{
    height: calc(100vh - 5.8rem);
    width: 40px;
    background: var(--customColor);
    overflow: auto;
    position: absolute;
    top: 5.8rem;
    left: 0;
}

@media screen and (max-width: 768px){
    nav{
        top: 6.5rem;
    }
}


nav ul,
nav ul li{
    height: fit-content;
    width: fit-content;
}


nav ul{
    overflow: scroll;
}

nav ul li{
    display: flex;
    margin: 1.5rem 0.5rem;
    cursor: pointer;
}
nav ul li i{
    height: fit-content;
    width: fit-content;
    padding: 0.3rem 0.3rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    animation: all 250ms ease-in-out;
}
nav ul li h3{
    margin: auto;
    margin-left: 1.5rem;
    animation: all 250ms ease-in-out;
    font-size: 16px;
}

nav ul li i:hover{
    background: #f00;
    color: #fff;
}

.max-nav{
    width: fit-content;
    z-index: 120;
}
.max-nav ul li{
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    transition: all 250ms ease-in-out;
}

.max-nav ul li h3{
    animation: all 250ms ease-in-out;
}

.max-nav ul li:hover{
    background: #f00;
    color: #fff;
}

nav ul > li span, .max-nav ul > li span{
    height: 0.7rem;
    width: 0.7rem;
    border-top: 0.2rem solid #000;
    border-right: 0.2rem solid #000;
    transform: rotateZ(45deg);
    transition: all 250ms ease-in-out;
}

nav ul > li, .max-nav ul > li{
    margin-left: 0.4rem;
    padding: 1.1rem 0.92rem;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    margin-top: 1rem;
}
nav ul > li:hover, .max-nav ul > li:hover{
    background: #f00;
}

nav ul > li:hover span, .max-nav ul > li:hover span{
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
}

.max-nav ul > li span{
    transform: rotateZ(-135deg);
}
/*  End of Side Navigation Bar  */

/*  Portfolio Content  */
.container-fixed{
    height: calc(100vh - 78px);
    width: calc(100% - 40px);
    position: fixed;
    top: 78px;
    left: 40px;
    z-index: 1;
    overflow-y: scroll;
}

.samples{
    height: fit-content;
    width: 100%;
    text-align: center;
}
.sample-box{
    height: 20rem;
    width: 25rem;
    position: relative;
    border: 0.2rem solid #000;
    overflow: hidden;
    margin:2rem;
    border-radius: 0.5rem; 
    transition: border,opacity 0.5s, 250ms ease-in-out;
    display: inline-block;
}

.sample-image,
.sample-image img{
    height: 100%;
    width: 100%;
}

.sample-hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 250ms ease-in-out;
    z-index: -1;
}

.sample-box:hover{
    background: #00000034;
    border: 0.2rem solid var(--customColor);
}
.sample-box:hover .sample-hover{
    z-index: 5;
    background: #00000034;
    animation: zoom-out-effect 0.5s ease-in-out;
}

.sample-title{
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--customColor);
}

.sample-title h3{
    height: fit-content;
    width: fit-content;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem;
    text-shadow: 0 0 3px #000;
    margin: auto;
}
.sample-title h3 b{
    font-size: 2rem;
    text-shadow: 0 0 3px #000;
}

.sample-visit-btn{
    height: fit-content;
    width: fit-content;
    position: relative;
    margin: auto;
    top: calc(50% - 1.5rem);
    padding: 0.5rem 1rem;
}

.sample-visit-btn button{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--customColor);
    color: #fff;
    text-shadow: 0 0 3px #000;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.sample-visit-btn button:hover{
    border: 0.2rem solid var(--customColor);
    color: var(--customColor);
    background: #fff;
    text-shadow: none;
}

/*  End of Portfolio Content  */

@media screen and (max-width: 400px){
    .sample-box{
        height: 17rem;
        width: 25rem;
    }
}
@media screen and (max-width: 280px){
    .sample-box{
        height: 10rem;
        width: 15rem;
    }
}


/* Services Content */
.service-box{
    height: fit-content;
    border: none;
    box-shadow: 0 0 8px 2px #000;
}
.service-box:hover{
    background: var(--customColor);
}
.service-box:hover .service-title i,
.service-box:hover .service-title h3{
    color: #fff;
}
.service-box:hover .service-title h3{
    text-shadow: 0 0 5px #000;
}
.service-box button{
    background: var(--customColor);
    color: black;
    font-size: 2rem;
    padding: 1rem;
    margin: 2rem;
    align-self: center;
}
.service-box:hover button{
    background: white;
    color: var(--customColor);
}
.service-title{
    min-height: 17rem;
    width: 100%;
    display: block;
    text-align: center;
}
.service-title i{
    height: fit-content;
    width: fit-content;
    font-size: 4rem;
    margin-top: 4rem;
    color: var(--customColor);
}
.service-title h3{
    height: fit-content;
    width: fit-content;
    font-size: 2.5rem;
    margin: auto;
    margin-top: 2rem;
    color: var(--customColor);
}

.service-box .service-details {
    display: none;
}

.sample-box.details {
    display: flex;
    flex-direction: column;
    width: auto;
}

.service-box .service-details.details {
    display: block;
    margin: 2rem;
    padding: 2rem;
    background: grey;
}

/* End of Services Content */


@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);
.snip1214 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #000000;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 40px 10px;
}
.snip1214 .plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.snip1214 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1214 header {
  position: relative;
}
.snip1214 .plan-title {
  position: relative;
  top: 0;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  display: inline-block;
  background-color: #222f3d;
  color: #ffffff;
  text-transform: uppercase;
}
.snip1214 .plan-cost {
  padding: 0px 10px 20px;
}
.snip1214 .plan-price {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 800;
  font-size: 2.4em;
  color: #34495e;
}
.snip1214 .plan-type {
  opacity: 0.6;
}
.snip1214 .plan-features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
}
.snip1214 .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%;
}
.snip1214 .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}
.snip1214 .plan-features i {
  margin-right: 8px;
  opacity: 0.4;
}
.snip1214 .plan-select {
  border-top: 1px solid #d2d7e2;
  padding: 10px 10px 0;
}
.snip1214 .plan-select a {
  background-color: #222f3d;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
.snip1214 .plan-select a:hover {
  background-color: #46627f;
}
.snip1214 .featured {
  margin-top: -10px;
  background-color: #34495e;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.snip1214 .featured .plan-title,
.snip1214 .featured .plan-price {
  color: #ffffff;
}
.snip1214 .featured .plan-cost {
  padding: 10px 10px 20px;
}
.snip1214 .featured .plan-features li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.snip1214 .featured .plan-select {
  padding: 20px 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 767px) {
  .snip1214 .plan {
    width: 50%;
  }
  .snip1214 .plan-title,
  .snip1214 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1214 .plan-cost,
  .snip1214 .featured .plan-cost {
    padding: 20px 10px 20px;
  }
  .snip1214 .plan-select,
  .snip1214 .featured .plan-select {
    padding: 10px 10px 10px;
  }
  .snip1214 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1214 .plan {
    width: 100%;
  }
}